{% block body %}

<style>

::marker{
  display: none!important;
}

</style>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="{{ asset('css/portfollow.css') }}" type="text/css" rel="stylesheet">
</head>
<!-- Lien du fichier CSS -->
<link href="{{ asset('css/portfollow.css') }}" type="text/css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:  #fafafa; border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item active">
                    <a class="nav-link" href="/user/{{ app.user.id }}">Mon Profil</a>
                </li>
            {% endif %}
      {% endif %}
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" id="chercherData" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="chercher" type="submit">Rechercher</button>
    </form>

    <li class="nav-item deco">
        <a class="btn btn-danger" class="nav-link" href="/logout">Déconnexion</a>
      </li>
  </div>
</nav>


    <script>
        $('#chercher').click(function(){

            let data = $('#chercherData').val();

            console.log(data)

            if(data.length > 0 ){
                let url = "https://127.0.0.1:8000/user/recherche/"+data;
                console.log('coucou')
                window.open(url, '_blank')
             //   location.href = url
            }


        });
    </script>

{% endblock %}