{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layout/navbar.html.twig' %}

    <h1>resultat de recherche</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                <td><a class="nav-link" href="/user/{{ user.id }}">Profil</a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
