/*NavBar*/

.deco {
    margin-left: 20px;
    list-style-type: none;
}

/*Formulaire*/

.form-connexion{   
    width: 20%;
    margin: auto; 
    margin-top: 25vh; 
    transform: translateY(-25%);
}

.form-inscription{   
    width: 20%;
    margin: auto; 
    margin-top: 15vh;
    transform: translateY(-15%); 
}

.f-insc{
    background-color: #fff;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 5px;
    padding: 10%;
    box-shadow: 0px 0px 5px black;
}

.mail-section{
    position: relative;
    height: 75px;
    overflow: hidden;
}

.mail-section input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.mail-section label {
    position: absolute; 
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.mail-section label::after{
    content: "";
    position: absolute; 
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute; 
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.mail-section input:focus + .mail .content-name, .mail-section input:valid + .mail .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.mail-section input:focus + .mail::after, .mail-section input:valid + .mail::after{
    transform: translateX(0%);
}

/*Page de Profil*/

.profil{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.userInfo{
    display: flex;
    border-bottom: 1px solid #8e8e8e;
    margin-bottom: 20px;
}

.image{
    margin-right: 100px;
}

.infos{
    margin-bottom: 50px;
}

.pseudo{
    font-weight: none!important;
}

.posts{
    display: flex; 
    flex-wrap: wrap;
}

.post{
    width: calc(1/3 * 95%);
    height: 250px;
    margin-bottom: 15px;
    margin-right: calc(1/3 * 5%);

}

.photo, .photo_info{
    width: 50%;
}

.photo{
    background-color: red;
}

.header_img, .desc_img{
    margin-left: 15px;
}

.header_post, .description{
    display: flex;
}

.header_post {
    padding: 15px;
    border-bottom: 1px solid rgba(var(--b38,219,219,219),1);
}

.description{
    padding: 15px;
}

.header_info, .desc_info{
    margin-left: 15px;
}

/*Page d'accueil*/

.posts_home {
    width: 30%;
    margin: auto;
}

.post_home{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: #fafafa; 
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 20px;
}

.post_header_home{
    padding: 10px;
    border-bottom: 1px solid rgba(var(--ce3,239,239,239),1);

}

.post_image_home{
    border-bottom: 1px solid rgba(var(--ce3,239,239,239),1);
    width: 100%;
}

.spec{
    color: black; 
    font-weight: bold;
}

.prem_lign_head{
    display: flex; 
    justify-content: space-between;
}

.prem_lign_foot{
    display: flex; 
    padding: 10px;
}


/*responsive*/

@media screen and (max-width: 992px) {
    .deco{
        margin-left: 0px;
    }
}

@media screen and (max-width: 1420px) {
    .form-inscription{
        width: 30%;
    }

}

@media screen and (max-width: 980px) {
    .form-inscription{
        width: 40%;
    }

}

@media screen and (max-width: 750px) {
    .form-inscription{
        width: 50%;
    }

}

@media screen and (max-width: 590px) {
    .form-inscription{
        width: 65%;
    }

}

@media screen and (max-width: 450px) {
    .form-inscription{
        width: 75%;
    }

}

@media screen and (max-width: 900px) {
    .posts_home{
        width: 50%;
    }

}

@media screen and (max-width: 800px) {
    .posts_home{
        width: 75%;
    }

}

@media screen and (max-width: 730px) {
    .form-connexion{
        width: 35%;
    }
}

@media screen and (max-width: 500px) {
    .form-connexion{
        width: 50%;
    }

}